
.wrap{
    width: 40rem;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.cards {
    display: flex;
    width: 200rem;
    height: 30rem;
    overflow: hidden;
}
.card{
    width: 80rem;
    overflow: hidden;
    transition: ease .3s;
    /* background-size: cover; */
    background-repeat: no-repeat;

}

.card1{
    background-image: url(images/item1.jpg);
}
.card2{
    background-image: url(images/item5.jpg);
}
.card3{
    background-image: url(images/item7.jpg);
}
.card4{
    background-image: url(images/item2.jpg);
}
.card5{
    background-image: url(images/item3.jpg);
}
#item1:checked ~ .cards .card1{
    margin-left: 0rem;
    background-size: cover;
    animation: opacity 0.8s;
}
#item2:checked ~ .cards .card2{
    margin-left: -40rem;
    animation: opacity 0.3s;
}
#item3:checked ~ .cards .card3{
    margin-left: -80rem;
    animation: opacity 0.3s;
}
#item4:checked ~ .cards .card4{
    margin-left: -120rem;
    animation: opacity 0.3s;
}
#item5:checked ~ .cards .card5{
    margin-left: -160rem;
    animation: opacity 0.53s;
}

.slider-radio:checked ~ .cards .card{
    width: 40rem;
    background-size: cover;
    transition: .5s;
    
}

@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
   }